.myclass
{
    background-color: skyblue;
    border: 3px solid black;
    border-radius: 1px;
}
.newclass
{
    background-color:plum;
    border: 3px solid black;
    border-radius: 1px;
}
.newclass1
{
    background-color:wheat;
    border: 3px solid black;
    border-radius: 1px;
}